<div class="col-xs-12 col-sm-6 live-game">
	<div class="live-game-pitch active">
		<div class="live-game-half">
			<div 
			ng-style="{'height' : homeLength}"
			ng-repeat="line in playersHome" 
			class="live-game-line">
				<div ng-repeat="player in line" class="live-player-container" ng-style="{'width' : width }">
					<live-player-container></live-player-container>
				</div>
			</div>
		</div>
		<div class="live-game-half">
			<div ng-style="{'height' : awayLength}" ng-repeat="line in playersAway" class="live-game-line">
				<div ng-repeat="player in line" class="live-player-container" ng-style="{'width' : width }">
					<live-player-container></live-player-container>
				</div>
			</div>
		</div>
	</div>
</div>