<div class="md-modal" ng-class="{'md-show': mdShow()}">
	<div class="md-content">
		<div class="md-content-div">
			<div class="md-close" ng-click="modal=0"><i class="fa fa-times"></i></div>

			<form class="md-form" ng-submit="login(user.name,user.password)" novalidate>
				<div class="md-form-username">
					<h1 class="md-content-title">Email</h1>
					<input class="md-form-input" required ng-model="user.name" name="username" type="text" >
				</div>				
				<div class="md-form-password">
					<h1 class="md-content-title">Password</h1>
					<input class="md-form-input" minlength="6" required ng-model="user.password" name="password" type="password" >
				</div>	
			</form>
			<div ng-click="login(user.name,user.password)" login-animate class="md-login-button md-up-login">
				<div class="md-login-icon">
					<i class="fa fa-paper-plane"></i>
				</div>
			</div>
			<div class="md-login-button md-fb-login" login-animate ng-click="fbLogin()" >
				<div class="md-login-icon">
					<i class="fa fa-facebook" title="Facebook Icon"></i>
				</div>
			</div>
			<div class="md-success">
					<h1 class="md-content-title">Login Succesful</h1>
					<p class="lead md-content-text">Welcome {{userDing.name}}</p>
					<p class="lead md-content-text">Logged in by <i ng-show="provider==='facebook'" class="fa fa-facebook-square"></i></p>

					<img class="md-success-img" ng-src="{{userDing.imgSrc}}" alt=""> 
			</div>
		</div>
	</div>
</div>

<div class="md-overlay" ng-class="{'md-show': mdShow()}" ng-click="modal=0"></div>